Views.SL/Service References/ModelServiceReference/ModelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ModelService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49166/ModelService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49166/ModelService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49166/ModelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IModelService_GetBasewordsByTextOrId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBasewordsByTextOrId" />
  </wsdl:message>
  <wsdl:message name="IModelService_GetBasewordsByTextOrId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBasewordsByTextOrIdResponse" />
  </wsdl:message>
  <wsdl:message name="IModelService_GetSupportedLanguages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportedLanguages" />
  </wsdl:message>
  <wsdl:message name="IModelService_GetSupportedLanguages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportedLanguagesResponse" />
  </wsdl:message>
  <wsdl:message name="IModelService_GetWordtypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWordtypes" />
  </wsdl:message>
  <wsdl:message name="IModelService_GetWordtypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWordtypesResponse" />
  </wsdl:message>
  <wsdl:message name="IModelService_UpdateBaseword_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBaseword" />
  </wsdl:message>
  <wsdl:message name="IModelService_UpdateBaseword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBasewordResponse" />
  </wsdl:message>
  <wsdl:message name="IModelService_DeleteBaseword_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBaseword" />
  </wsdl:message>
  <wsdl:message name="IModelService_DeleteBaseword_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBasewordResponse" />
  </wsdl:message>
  <wsdl:message name="IModelService_GetTranslationsFromBaseword_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTranslationsFromBaseword" />
  </wsdl:message>
  <wsdl:message name="IModelService_GetTranslationsFromBaseword_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTranslationsFromBasewordResponse" />
  </wsdl:message>
  <wsdl:message name="IModelService_ValidateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="IModelService_ValidateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IModelService">
    <wsdl:operation name="GetBasewordsByTextOrId">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelService/GetBasewordsByTextOrId" message="tns:IModelService_GetBasewordsByTextOrId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelService/GetBasewordsByTextOrIdResponse" message="tns:IModelService_GetBasewordsByTextOrId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupportedLanguages">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelService/GetSupportedLanguages" message="tns:IModelService_GetSupportedLanguages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelService/GetSupportedLanguagesResponse" message="tns:IModelService_GetSupportedLanguages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWordtypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelService/GetWordtypes" message="tns:IModelService_GetWordtypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelService/GetWordtypesResponse" message="tns:IModelService_GetWordtypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBaseword">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelService/UpdateBaseword" message="tns:IModelService_UpdateBaseword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelService/UpdateBasewordResponse" message="tns:IModelService_UpdateBaseword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBaseword">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelService/DeleteBaseword" message="tns:IModelService_DeleteBaseword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelService/DeleteBasewordResponse" message="tns:IModelService_DeleteBaseword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTranslationsFromBaseword">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelService/GetTranslationsFromBaseword" message="tns:IModelService_GetTranslationsFromBaseword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelService/GetTranslationsFromBasewordResponse" message="tns:IModelService_GetTranslationsFromBaseword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelService/ValidateUser" message="tns:IModelService_ValidateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelService/ValidateUserResponse" message="tns:IModelService_ValidateUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IModelService" type="tns:IModelService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBasewordsByTextOrId">
      <soap:operation soapAction="http://tempuri.org/IModelService/GetBasewordsByTextOrId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportedLanguages">
      <soap:operation soapAction="http://tempuri.org/IModelService/GetSupportedLanguages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWordtypes">
      <soap:operation soapAction="http://tempuri.org/IModelService/GetWordtypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBaseword">
      <soap:operation soapAction="http://tempuri.org/IModelService/UpdateBaseword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBaseword">
      <soap:operation soapAction="http://tempuri.org/IModelService/DeleteBaseword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTranslationsFromBaseword">
      <soap:operation soapAction="http://tempuri.org/IModelService/GetTranslationsFromBaseword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://tempuri.org/IModelService/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ModelService">
    <wsdl:port name="BasicHttpBinding_IModelService" binding="tns:BasicHttpBinding_IModelService">
      <soap:address location="http://localhost:49166/ModelService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>