Views.SL/Service References/ModelServiceReference/ModelService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBasewordDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BasewordDto" nillable="true" type="tns:BasewordDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBasewordDto" nillable="true" type="tns:ArrayOfBasewordDto" />
  <xs:complexType name="BasewordDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsLocked" type="xs:boolean" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="tns:LanguageDto" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Translations" nillable="true" type="tns:ArrayOfTranslationDto" />
      <xs:element minOccurs="0" name="Wordtype" nillable="true" type="tns:WordtypeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasewordDto" nillable="true" type="tns:BasewordDto" />
  <xs:complexType name="LanguageDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LanguageDto" nillable="true" type="tns:LanguageDto" />
  <xs:complexType name="ArrayOfTranslationDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TranslationDto" nillable="true" type="tns:TranslationDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTranslationDto" nillable="true" type="tns:ArrayOfTranslationDto" />
  <xs:complexType name="TranslationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Baseword" nillable="true" type="tns:BasewordDto" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TranslationDto" nillable="true" type="tns:TranslationDto" />
  <xs:complexType name="WordtypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WordtypeDto" nillable="true" type="tns:WordtypeDto" />
  <xs:complexType name="ArrayOfLanguageDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LanguageDto" nillable="true" type="tns:LanguageDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLanguageDto" nillable="true" type="tns:ArrayOfLanguageDto" />
  <xs:complexType name="ArrayOfWordtypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WordtypeDto" nillable="true" type="tns:WordtypeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWordtypeDto" nillable="true" type="tns:ArrayOfWordtypeDto" />
</xs:schema>