Views.SL/Service References/ModelService/ModelService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBasewordDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BasewordDto" nillable="true" type="tns:BasewordDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBasewordDto" nillable="true" type="tns:ArrayOfBasewordDto" />
  <xs:complexType name="BasewordDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="tns:LanguageDto" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasewordDto" nillable="true" type="tns:BasewordDto" />
  <xs:complexType name="LanguageDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LanguageDto" nillable="true" type="tns:LanguageDto" />
</xs:schema>